body {
    margin: 0;
    padding: 0;
    background-color: #fdfffd;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: #02240c;
    color: #fdfffd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    height:150px;
    padding: 0 20px;
}

.logo-img {
    height:150px;
}

.logo{
    font-size: 30px;
    display:flex;
}


.odnosnik {
    cursor: pointer;
    justify-content: space-between;
    text-decoration: none;
    color:#fdfffd;
    padding: 0 50px;
}


.odnosnik:hover {
    text-decoration: underline;
}


.menu-burger {
    background-color:transparent;
    border:none;
    cursor: pointer;
}

.omnie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.omnie-div {
    padding:80px;
}

.logo2-div {
    padding:80px;
}

.logo2 {
    height:300px;
}